.mahasiswacontainer {
    padding:50px 0px;
}

.tambahmahasiswa {
    padding:10px;
    border-radius:20px;
    width:200px;
    text-align:center;
    margin-bottom:30px;
}

.tambahmahasiswacontainer {
    padding:50px 0px;
}

.radio {
    margin-bottom:10px;
}

